---
layout: page
title: Work with us
permalink: /contact/
image: '/images/titus/wilderness.jpg'
---

<H1>Contact</H1>
<div class="form-box">
  <div class="contact-head">
    {% if site.data.settings.contact.description %}
      <p class="contact-description">{{site.data.settings.contact.description}}</p>
    {% endif %}
  </div>
  <form class="form" action="{% if site.data.settings.contact.email %}https://formspree.io/f/{{site.data.settings.contact.email}}{% else %}#{% endif %}" method="POST">
    <div class="form__group">
      <label class="form__label screen-reader-text" for="form-name">Your Name</label>
      <input class="form__input" id="form-name" type="text" name="name" placeholder="Name" required>
    </div>
    <div class="form__group">
      <label class="form__label screen-reader-text" for="form-email">Your Email</label>
      <input class="form__input" id="form-email" type="email" name="_replyto" placeholder="Email" required>
    </div>
    <div class="form__group">
      <label class="form__label screen-reader-text" for="form-text">Your Message</label>
      <textarea class="form__input" id="form-text" name="text" rows="10" placeholder="Message" required></textarea>
    </div>
    <div class="form__group">
      <button class="button button--primary" type="submit">Send Message</button>
    </div>
  </form>
</div>

<h1>Working with us</h1>
<p>We are always looking for great people, teams, and companies to work with so if you're interested in exploring a collaboration please reach out! 
  Our work spans artificial intelligence, biotechnology, synthetic biology, genomics and epigenomics, public policy, entrepreneurship, and more. 
  Most of our research involves building models and writing code, but our public policy work involves thinking through the public impact of research 
  and product innovation, and how those changes are affecting the world. 
</p>

<h1>Grad student opportunities</h1>
<p>We have a lot to do and never enough people to do it all. If you're a MS or PhD student and interested in joining the lab, feel free to 
  reach out with your resume/CV and an intro about yourself and what you'd like to work on. 
</p>

<h1>Postdoc opportunities</h1>
<p>We have multiple postdoc projects available in the lab. Priority will be given to anyone who has their own funding through fellowships or other means
   so we can put more resources towards research. We're also happy to support applying for training fellowships as a sponsor/mentor in the application.
</p>

<h1>Collaborators</h1>
<p>We have an amazing team of scientists working on some really cool stuff, and we're always excited to work on more. If you have an existing project 
  that we can collaborate on, we're happy to chat. If you'd like to co-apply for funding, we're also always on the lookout for people to build a long-term 
  relationship with. Again, please reach out. 
</p>

<h1>Undergrad opportunities</h1>
<p>We have a limited number of projects available for later-stage undergraduate team members. If you can code, are interested in public policy, or 
  have some other ideas you want to discuss, there's always room to expand given the right setup. We're happy to explore, so again, please reach out. 
</p>